name: Deploy to EC2

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          envs: DB_USER,DB_PASSWORD,EC2_IP
          script: |
            cd ~/odoo-project
            # Create a .env file on the fly from GitHub Secrets
            echo "DB_USER=${{ secrets.DB_USER }}" > .env
            echo "DB_PASSWORD=${{ secrets.DB_PASSWORD }}" >> .env
            echo "EC2_IP=${{ secrets.EC2_HOST }}" >> .env
            
            sudo docker-compose pull
            sudo docker-compose up -d