name: Deploy to DO

on:
  push:
    branches: [ master ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.DO_HOST }}
          username: root
          key: ${{ secrets.DO_SSH_KEY }}
          script: |
            mkdir -p ~/odoo-project
            cd ~/odoo-project
            echo "DB_USER=${{ secrets.DB_USER }}" > .env
            echo "DB_PASSWORD=${{ secrets.DB_PASSWORD }}" >> .env
            echo "EC2_IP=${{ secrets.DO_HOST }}" >> .env
            echo "N8N_SECURE_COOKIE=false" >> .env
            
            curl -O https://raw.githubusercontent.com/${{ github.repository }}/master/docker-compose.yaml
            
            # This is the magic line to clear the naming conflict
            sudo docker compose down --remove-orphans
            
            sudo docker compose pull
            sudo docker compose up -d